* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
  font-family: "Lato";
  color: #000000;
  font-weight: 300;
}

.boxForm {
  width: 33%;
}

form {
  width: 100%;
  height: 350px;
  display: grid;
  align-items: center;
  flex-direction: column;
  background: #ffffff;
  border: 1px solid #979797;
  border-radius: 4px;
  margin-top: 50px;
}

h2 {
  font-weight: 700;
  font-size: 18px;
  margin-top: 15px;
  margin-bottom: 10px;
  grid-column: 1fr;
  text-align: center;
}

label {
  font-size: 14px;
  /* align-self: flex-start; */
  align-items: center;
  line-height: 35px;
  margin-left: 10px;
}

select {
  width: 95%;
  border-radius: 4px;
  border: 1px solid #979797;
  font-size: 14px;
  height: 32px;
  margin-left: 9px;
  margin-bottom: 10px;
}

input {
  width: 95%;
  border-radius: 4px;
  border: 1px solid #979797;
  line-height: 30px;
  margin-left: 9px;
  margin-bottom: 10px;
}

form button {
  width: 95%;
  margin-bottom: 10px;

  background: #333333;
  border-radius: 4px;
  color: #ffffff;
  line-height: 30px;
  font-size: 14px;
  margin-left: 9px;
}

.container {
  display: flex;
  max-width: 1070px;
  margin: 0 auto;
  flex-flow: row wrap;
  gap: 20px;
}

.boxTable {
  width: 60%;
  flex-grow: 3;
  margin-top: 55px;
}

table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}

.extrato {
  text-align: center;
  font-weight: 700;
  font-size: 18px;
  width: 100%;
  margin-bottom: 30px;
}

.signal {
  text-align: center;
  width: 10%;
}

.title {
  text-align: left;
}

.titleValue {
  text-align: right;
  padding-right: 10px;
}

.inputNome {
  text-indent: 10px;
}

.inputValor {
  text-indent: 10px;
}

.option {
  text-indent: 10px;
}

td {
  padding: 1px;
}

lineTable {
  margin-top: 1px;
}

th {
  font-weight: 700;
}

.text {
  width: 15%;
}

.total {
  border-top: 1px solid #979797;
  font-weight: 700;
  text-align: start;
}

.value {
  text-align: end;
  width: 30%;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.totalValue p {
  font-weight: 700;
  text-align: end;
  padding-right: 10px;
}

.border {
  margin-top: -10px;
}

small {
  border: none;
}

h3 .textValue {
  margin-left: 10px;
}

.signal {
  width: 3%;
}

.line{
  height: 5px;
}

tr {
  border-bottom: 1px solid #979797;
}

thead th {
  padding-bottom: 10px;
}

tfoot tr:last-of-type {
  border-bottom: none;
  border-top: 1px solid #979797;
  margin-top: 2px;
}

small {
  font-size: 12px;
}

footer {
  display: flex;
  width: 100%;
  height: 8px;
  position: fixed;
  bottom: 0;
  background: #333333;
}

.message {
  margin-top: 100px;
  font-weight: 700;
  font-size: 25px;
  color: red;
  text-align: center;
}

@media screen and (max-width: 991px) {
  .container {
    width: 99%;
  }

  h1 {
    text-align: center;
    justify-content: center;
    align-items: center;
    font-weight: 700;
  }

  header {
    height: 60px;
  }
  nav {
    gap: calc(50% - 200px / 2);
  }

  ul {
    display: none;
  }

  .left-wrapper img {
    margin-left: 0;
    width: 30px;
    height: 27.63px;
  }

  .boxForm {
    width: 97%;
    font-size: 14px;
    margin-left: 15px;
  }

  .boxForm form {
    grid-template-columns: 1fr 2fr 1fr;
    height: 200px;
  }

  .boxForm h2 {
    grid-column: 1/4;
    text-align: center;
    margin-top: 0px;
  }

  .inputValor {
    margin-left: -2px;
  }

  form button {
    margin-top: -10px;
    margin-bottom: 10px;
    margin-left: -15%;
    grid-column: 3;
    width: 110%;
  }

  small {
    font-size: 14px;
  }

  .boxTable {
    font-size: 14px;
  }

  table {
    width: 97%;
    margin-top: -10px;
    margin-left: 15px;
  }

  .extrato {
    margin-bottom: 40px;
  }

  .text {
    width: 15%;
  }

  .message {
    font-size: 20px;
  }
}

@media screen and (max-width: 760px) {
  .boxForm {
    margin-left: 12px;
  }

  h1 {
    font-weight: 700;
  }

  .boxForm label {
    margin-left: 0;
    margin-top: 1px;
  }

  .boxForm form {
    display: block;
    height: 300px;
    border: none;
    border-bottom: 1px solid #979797;
    border-radius: 0;
    margin-top: 26px;
    margin-left: 0px;
  }

  form button {
    width: 100%;
    margin-left: 0px;
    margin-top: 5px;
  }

  .boxForm h2 {
    display: none;
  }

  .select {
    width: 100%;
    margin-left: 0px;
  }

  .inputNome {
    width: 100%;
    margin-left: 0;
  }

  .inputValor {
    width: 100%;
    margin-left: 0;
  }

  .boxTable {
    margin-top: 10px;
    margin-left: -2px;
    margin-right: 5px;
  }

  .message {
    font-size: 18px;
  }
}
